<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company History</title>
    <link rel="stylesheet" href="./css/company-history.css">
</head>
<body>
    <div>
        <%- include("nav.ejs") %>
    </div>
    <h1>The History of Karlon & Chris Tech Agency</h1>
    <h3><em>The Startup of the Century</em></h3>
    <hr>
    <main>
        <p><%= companyHistory %></p>
    </main>
</body>
</html>