<nav>
    <a href="/">Home Page</a>
    <a href="/companyhistory">Company History</a>
    <a href="/pastwork">Past Work</a>
    <a href="/staff">Staff</a>
    <a href="/links">Links</a>
    <a href="/contactus">Contact Us</a>
</nav>